JWT_PUBLIC_KEY=JWT_SECRET_KEY

NODE_ENV=development
NEXT_PUBLIC_HOME_URL=http://localhost:80
NEXT_PUBLIC_SERVER_URL=http://localhost:3810
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000/
NEXT_PUBLIC_DEFAULT_REDIRECT_URL=http://localhost:81/
NEXT_PUBLIC_LINKEDIN_CLIENT_ID=PUBLIC_LINKEDIN_CLIENT_ID