DATABASE_URL=DATABASE_URL
NODE_ENV=development

LINKEDIN_CLIENT_ID=LINKEDIN_CLIENT_ID
LINKEDIN_CLIENT_SECRET=LINKEDIN_CLIENT_SECRET

REDIS_URL=REDIS_URL
ENCRYPTION_KEY=ENCRYPTION_KEY
CRON_API_SECRET=CRON_API_SECRET

IMAGEKIT_PRIVATE_KEY=IMAGEKIT_PRIVATE_KEY
IMAGEKIT_PUBLIC_KEY=IMAGEKIT_PUBLIC_KEY
IMAGEKIT_URL_ENDPOINT=IMAGEKIT_URL_ENDPOINT

LINKEDIN_GEMINI_API_KEY=LINKEDIN_GEMINI_API_KEY
ANALYST_GEMINI_API_KEY=ANALYST_GEMINI_API_KEY
LINKEDIN_GEMINI_MODEL="gemini-3.6-flash"
LINKEDIN_GEMINI_MAX_RPM=5