DATABASE_URL=DATABASE_URL
NODE_ENV=development

LINKEDIN_CLIENT_ID=LINKEDIN_CLIENT_ID
LINKEDIN_CLIENT_SECRET=LINKEDIN_CLIENT_SECRET

ENCRYPTION_KEY=ENCRYPTION_KEY
CRON_API_SECRET=CRON_API_SECRET

LINKEDIN_GEMINI_API_KEY=LINKEDIN_GEMINI_API_KEY
LINKEDIN_GEMINI_MODEL="gemini-3.6-flash"
LINKEDIN_GEMINI_MAX_RPM=5