JWT_PRIVATE_KEY=JWT_PRIVATE_KEY

DATABASE_URL=DATABASE_URL
HOME_SERVER_URL=http://localhost/
FRONTEND_URL=http://localhost:3000/
NODE_ENV=development

CRON_API_SECRET=CRON_API_SECRET
IMAGEKIT_PRIVATE_KEY=IMAGEKIT_PRIVATE_KEY
IMAGEKIT_PUBLIC_KEY=IMAGEKIT_PUBLIC_KEY

DEEPSEEK_API_KEY=

MAIN_GEMINI_API_KEY=MAIN_GEMINI_API_KEY
MAIN_GEMINI_MODEL="gemini-3.6-flash"
MAIN_GEMINI_MAX_RPM=5